.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

table {
  border: 5px solid #26dde2;
  width: 70%;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  background-color: #2d6e56;
  color: white;
}

.row {
  line-height: 30px;
}

.heading {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.data {
  text-align: center;
  padding: 30px;
}
